@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
}
.top img{
    width: 5vw;
    height: 5vh;
    margin: 80% 5% 2% 110%;
}
.buttons{
    display: block;
    margin: 3% 1% 9% 70%;
   width: 50vw;
    
}
.btn{
    padding: 3%;
    border: 2px solid blue;
    border-radius: 30%;
    color: blue;
    background-color: #fff;
    max-height: 16vh;
    max-width: 20vw;
    font-weight: bold;
    cursor: pointer;

}
.btn:hover{
    background-color: blue;
    color: white;
}
#btn1{
    margin-right: 18%;
}
.top{
    display: flex;
}
.img{
    max-width: 50vw;
}
.heading{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
}
h3{
    text-align: center;
    font-size: 1.5rem;
}
.img2{
    margin: 5% 5% 3% 40%;
}
.img3{
    text-align: center;
}
.img3 img{
   max-width: 100vw;
    max-height: 60vh;
}
.myself{
    background-color: #6E07F3;
    max-height: 70vh;
    color: white;
    text-align: center;
   

}
.myself h2{
    font-weight: bold;
    padding-top: 3%;
    font-size: 5vw;
}
.myself h3{
    max-width: 80vw;
    margin: 1.5% 0% 5% 10%;
    
}
.technology{
    max-height:250vh;
    background-color: white;
    max-width: 90vw;
    margin-left: 4.5%;
    border: 1px solid white;
    border-radius: 1%;
    display: flex;
    border-bottom: 3px solid rgb(196, 234, 244);
   
}
.frontend{
    max-width: 45vw;
    border-right: 1px solid #f8e6e6;
    max-height: 200vh;
}
.backend{
    max-width: 45vw;
    border-right: 1px solid #f8e6e6;
   max-height: 200vh;
}
#img1{
    max-width: 25vw;
    max-height: 25vh;
    display: block;
    margin: 2% 0% 6% 28%;
}
#img2{
    max-width: 25vw;
    max-height: 25vh;
    display: block;
    margin: 8% 0% 5% 23%;
}
.frontend h3{
    color: black;
    max-width: 60vw;
}
.frontend h2{
    color: blue;
    max-width: 45vw;
}
.lang{
    color: black;
    margin-top: 4%;
}
.backend img{
    max-width: 25vw;
    max-height:25vh;
    margin-top: 4%;
}
.backend h2{
color:red;    
margin-top: 7%;
}
.backend h3{
    color: black;
    margin-left: 6%;
    
}
.blogs-img{
    border: 2px solid blue;
    margin-left: 5%;
    border-radius: 21%;
}
.blogs-img:hover{
    border: 4px solid red;
}
.projects-head h1,h3{
    color: black;
    padding-top: 2%;
}
.prj-img{
    display: flex;
    padding-top: 2%;
}
.prj-img img{
    max-width: 22vw;
    margin: 4%;
    max-height: 22vh;
    border: 1px solid blue;
    border-radius: 30%;
    
}
.prj1 {
    width: 30vw;
    text-align: center;
    border: 1px solid rgb(220, 210, 210);
    margin-left: 2%;
    height: 75vh;
}
.prj1 h4{
    max-width: 50vw;
    margin-left: 12%;
    color: rgb(99, 14, 14);
    height: 15vh;
}
.prj2{
    width: 30vw;
    text-align: center;
    border: 1px solid rgb(220, 210, 210);
    margin-left: 2%;
    height: 75vh;
}
.prj3{
    width: 30vw;
    text-align: center;
    border: 1px solid rgb(220, 210, 210);
    margin-left: 2%;
    height: 75vh;
}
.prj2 h4{
    max-width: 50vw;
    margin-left: 12%;
    color: rgb(29, 12, 66);
    height: 15vh;
}
.prj3 h4{
    max-width: 50vw;
    margin-left: 12%;
    color: rgb(254, 159, 159);
    height: 15vh;
}
.buttonss1 button{
    margin-left: 30%;
    display: block;
    margin-top: 7%;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    border-radius: 30%;
    max-width: 50vw;
    max-height: 50vh;
    padding: 1%;
    text-decoration: none;
    display: flex;
    font-weight: bold;
}
.buttonss2 button{
    margin-left: 40%;
    display: block;
    margin-top: 7%;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    border-radius: 30%;
    max-width: 50vw;
    max-height: 7vh;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}
.buttonss3 button{
    margin-left: 40%;
    display: block;
    margin-top: 7%;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    border-radius: 30%;
    max-width: 50vw;
    max-height: 50vh;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}
.buttonss1 button:hover{
    background-color: blue;
    color:white;
}
.buttonss2 button:hover{
    background-color: blue;
    color:white;
}
.buttonss3 button:hover{
    background-color: blue;
    color:white;
}
.footer{
    max-width: 100vw;
    max-height: 20vh;
    background-color: black;
    margin-top: 1%;

}
.logo1{
    max-width: 5vw;
    max-height: 5vh;
  border: 2px solid black;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 20vw;

}
.logo1:hover{
    border: 5px solid white;
}
.logo2:hover{
    border: 5px solid white; 
}
.logo3:hover{
    border: 5px solid white; 
}
.logos{
    display: flex;
    margin-left: 18%;

}
.logo2{
    max-width: 5vw;
    max-height: 5vh;
    margin-left: 10vw;
    border: 2px solid black;
    border-radius: 15px;
    
}
.ist{
    display: inline-block;
    margin-top: 1.5%;
}
.iind{
    display: inline-block;
    margin-right: 10%;
    margin-top: 2%;

}
.thrd{
    display: inline-block;
    margin-right: 40%;
    margin-top: 2%;
}
.logo3{
    max-width: 5vw;
    max-height: 5vh;
    border: 2px solid black;
    border-radius: 15px;
    

}

@media screen and (max-width:700px) {
    .top img{
        width: 5vw;
        height: 5vh;
        margin: 80% 10% 2% 110%;
    }
    .buttons{
        display: block;
        margin: 3% 1% 9% 60%;
       width: 50vw;
    
        
    }
   
    
}
@media screen and (max-width:500px){
    .top img{
        width: 4vw;
        height: 4vh;
        margin: 90% 5% 2% 110%;
    }
    .buttons{
        display: block;
        margin: 3% 1% 9% 50%;
       width: 50vw;
    
        
    }
    .heading{
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 1rem;
        margin: 10% 0% 0% 0%;
    }
    .img2{
        
            margin: 5% 5% 3% 20%;
            
        
    }
    .myself h3{
        font-size: 4vw;
    }
    .buttonss1 button{
        margin-top: 30%;
        margin-right: 20%;
    }
    .buttonss2 button{
        margin-top: 30%;
        margin-right: 40%;
    }
    .buttonss3 button{
        margin-top: 30%;
        margin-right: 40%;
    }
    .prj2 h4  {
        height: 40vh;
    }
    .prj1 h4  {
        height: 40vh;
    }
    .prj3 h4  {
        height: 40vh;
    }
    .prj-img img{
        height: 8vh;
    }
    
    

}
